.bss-b2b-installation-wrapper {
  width: 100%;
  margin-top: 30px;
  margin-left: 20px;
}
.bss-b2b-installation-wrapper > div {
  float: left;
}
.bss-b2b-installation-numbers {
  min-height: 350px;
  width: 10%;
}
.bss-b2b-installation-number {
  width: 80px;
  padding: 10px 0 40px;
}
.bss-b2b-installation-number > div {
  width: 50px;
  height: 50px;
  display: flex;
  background: linear-gradient(135deg, #1400c8 0, #b900b4 100%);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border-radius: 50%;
}
.bss-b2b-installation-number > div.bss-install-step-active {
  background: white;
  color: #b900b4;
  border: #1400c8 1px solid;
}
.bss-b2b-installation-steps {
  overflow-y: auto;
  width: 70%;
  background: white;
  padding: 20px;
}
.bss-b2b-installation-step {
  clear: both;
}

.bss-b2b-installation-step .bss-b2b-installation-step-content {
  width: 100%;
}
.bss-b2b-installation-step-content
  .bss-b2b-installation-step-text
  .bss-b2b-installation-step-guide {
  padding: 0 0 15px;
}
.bss-b2b-installation-step-content .bss-b2b-installation-step-text {
  padding: 15px 0;
}

.bss-b2b-installation-step-content .bss-b2b-installation-step-text img {
  padding: 5px;
  border: 2px whitesmoke solid;
}
.bss-b2b-installation-step-footer {
  display: flex;
  justify-content: center;
}
