.flex {
  display: -ms-flexbox;
  display: flex;
}
.bss-currency-config-block {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 48rem;
  flex: 2 1 48rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.bss-currency-setting-block {
  margin-bottom: 2rem;
}

.all-currency-option {
  max-height: 400px;
  overflow-y: scroll;
}

.bss-multiple-currency-container {
  padding: 0 !important;
  margin: 0 3rem !important;
  max-width: 100%;
}

.ml-2 {
  margin-left: 2rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}
.pt-2 {
  padding-top: 2rem !important;
}
.pb-2 {
  padding-bottom: 2rem !important;
}
.full-width {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.aside {
  width: 60%;
  max-width: 40%;
  box-sizing: border-box;
}
.p-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 70px;
}

.preview-currency {
  margin: auto;
  display: flex;
  justify-content: center;
}

.bss-b2b-installation-numbers .number-cursor {
  cursor: pointer;
}

.bss-b2b-installation-numbers .bss-install-step-active {
  cursor: default;
}

.b2b-currency-install .bss-b2b-installation-steps {
  width: 90%;
}
.bss-currency-copy-container .Polaris-Label__Text {
  font-weight: 700;
}

/*switch  buuton*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

/*   */

.toggle-menu-item {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.toggle-menu-item .font-w-7 {
  line-height: 25px;
}

.bss-money-format-section .Polaris-FormLayout__Item {
  flex: auto !important;
}

.bss-money-format-section
  .Polaris-FormLayout__Items
  .Polaris-FormLayout__Item:first-child {
  width: 70%;
}
