.form-group.name-wrap {
  display: none !important;
}

.form-group.access-wrap {
  display: none !important;
}

.form-group.other-wrap {
  display: none !important;
}

.form-group.className-wrap {
  display: none !important;
}

.form-actions.btn-group {
  display: none !important;
}

.form-group.requireValidOption-wrap {
  display: none !important;
}

.form-group.toggle-wrap {
  display: none !important;
}

.date-field .form-group.placeholder-wrap,
.date-field .form-group.value-wrap {
  display: none !important;
}

.radio-group-field .option-selected {
  display: none !important;
}

.text-field .subtype-wrap [label="color"],
.text-field .subtype-wrap [label="tel"] {
  display: none !important;
}

.textarea-field .form-group.subtype-wrap {
  display: none !important;
}

.form-group.field-options .option-selected {
  display: none !important;
}

.form-wrap.form-builder .frmb-control li {
  cursor: pointer !important;
}
.select-field .placeholder-wrap {
  display: none !important;
}
#build-wrap {
  margin-bottom: 30px;
}

.cb-wrap.pull-right {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  width: 26rem !important;
}

@media (max-width: 580px) {
  .form-wrap.form-builder .cb-wrap {
    width: 52px !important;
    padding: 0px;
  }
}

@media (max-width: 780px) {
  .form-wrap.form-builder .cb-wrap {
    width: 5rem !important;
    padding: 0px;
  }
}

.frmb-control.ui-sortable {
  border-radius: 0px !important;
}

.frmb-control.ui-sortable li {
  height: 5.8rem !important;
  display: flex;
  align-items: center;
  align-content: center;
}

.form-wrap.form-builder .frmb-control li:first-child {
  border-radius: 0px !important;
}

.form-wrap.form-builder .frmb-control li:last-child {
  border-radius: 0px !important;
}

.form-wrap.form-builder .frmb-control li {
  border-bottom: solid 1px #dfe3e8 !important;
  box-shadow: 0 1px 3px 0 rgba(64, 64, 64, 0.24) !important;
}

.form-wrap.form-builder .frmb-control li::before {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  background-color: #f4f6f8;
  border-radius: 0.4rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.stage-wrap {
  width: calc(70% - 5px) !important;
  box-sizing: border-box;
  min-height: 200px !important;
  box-shadow: 0 1px 3px 0 rgba(64, 64, 64, 0.24);
}

.disabled-field.form-prepend {
  padding: 0px !important;
}

.form-wrap.form-builder .frmb li {
  padding: 14px !important;
}

.form-wrap.form-builder .frmb li:first-child {
  border-radius: 0 !important;
}

.form-wrap.form-builder .frmb li:last-child {
  border-radius: 0 !important;
  margin-bottom: 0px !important;
}

.formbuilder-autocomplete input {
  font-size: 1.6rem;
  width: 100% !important;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: initial;
  letter-spacing: initial;
  position: relative;
  z-index: 20;
  display: block;
  flex: 1 1;
  min-width: 0;
  min-height: 3.6rem;
  margin: 0;
  padding: 0.5rem 1.2rem;
  background: none;
  border: 0.1rem solid #c4cdd5;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #637381;
}
.Polaris-Modal-Section .bss-b2b-preview {
  margin: -2rem !important;
}
.bss-pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 25px;
}
.bss-pagination span {
  background: #f5f6fa;
  margin-left: 5px;
  padding: 10px 15px;
  border-radius: 50px;
  border: 1px solid #dee2e6;
  cursor: pointer;
}
.bss-pagination .active {
  background: linear-gradient(135deg, #1400c8 0, #b900b4 100%);
  border: 0;
  color: #fff;
}
.bss-b2b-registration .Polaris-DataTable__Cell {
  white-space: inherit !important;
}
.bss-b2b-registration .Polaris-DataTable tbody tr td,
.Polaris-DataTable tbody tr th {
  padding: 10px !important;
}
@media only screen and (max-width: 600px) {
  .bss-b2b-registration .Polaris-DataTable {
    max-width: none !important;
  }
  .bss-b2b-registration .bss-b2b-cp-index-header-title {
    line-height: 30px;
  }
  .bss-b2b-registration .Polaris-Page__Content {
    width: 110%;
  }
}
