[bss-b2b-cart-item-key],
[bss-b2b-product-id],
[bss-b2b-variant-id],
[bss-b2b-cart-item-key],
[bss-b2b-cart-total-price],
[bss-b2b-cart-total-discount] {
  visibility: hidden;
}
.bss-b2b-qty-table-row:hover {
  cursor: pointer;
  opacity: 0.7;
}
@keyframes moneyAnimation {
  to {
    visibility: visible;
  }
}
